<!--<div>-->
<!--  &lt;!&ndash; Вивід ID &ndash;&gt;-->
<!--  <p>Current ID: {{ id }}</p>-->

<!--  &lt;!&ndash; Вивід значень лічильників &ndash;&gt;-->
<!--  <p>-->
<!--    Count: {{ count() }} | Second Count: {{ countSecond() }}-->
<!--  </p>-->

<!--  &lt;!&ndash; Кнопки &ndash;&gt;-->
<!--  <button (click)="increment()">Increment</button>-->
<!--  <button (click)="incrementTwo()">Increment Two</button>-->

<!--  &lt;!&ndash; Умовний блок &ndash;&gt;-->
<!--  @if (count() == 2) {-->
<!--  <div>Умова виконана</div>-->
<!--  } @else {-->
<!--  <div>Умова не виконана</div>-->
<!--  }-->

<!--  @defer {-->
<!--    <h1>Приклад використання111</h1>-->
<!--  } @placeholder () {-->
<!--    <p>Placeholder content</p>-->
<!--  }-->

<!--</div>-->

<button (click)="test(null)">33333333</button>
